body {
  background-color: rgb(254,249,246);
  color: rgba(0, 0, 0, 0.979);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.hme{
  background-color: rgb(230,123,84);
  color: rgba(0, 0, 0, 0.979);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.text-block {
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  left: 0;
  right: 0;
  top: 20px;
  bottom: 200px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.desc{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(223, 180, 164);
  color: rgb(66, 66, 66);
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.loginC {
  display: flex;
  background-color: #d3c4bf;
  border: 3px solid #fff;
  padding: 20px;
}

.signupC {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid rgb(0, 0, 0);
}
.signupC:hover{
  background-color: black;
  color: rgb(255, 255, 255);
}

img{
  width: auto;
  height: auto;
}
.upperlink {
  color: aqua;
}
a {
  color: #ff0909;
}
.dsboard{
  background-color:black;
  color: white;
  width: 100%;
  position: relative;
  display: flex;
}
.dropbtn {
  background-color:black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:bisque;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:crimson;
  color: black;
}
.headboard{
  background-color:black;
  color: white;
  width: 100%;
  position: fixed;
  display: flex;
}
.logout{
  background-color:crimson;
  color:black;
  padding: 16px;
  font-size: 16px;
  border: none;
  position: relative;
  display: flex;
}
.logout:hover{
  background-color:black;
  color: white;
}
.logout a{
  color: white;
}
.logout:hover a{
  color: rgb(254,190,185);
}
.sb {
  background-color: rgb(254,190,185);
  color: rgba(0, 0, 0, 0.979);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}