<!DOCTYPE HTML>
<html>
	<head>
		<title>Join</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>

        <style>
            .col-2 {
                margin: 5px;
            }

            button.btn.btn--radius-2.btn--blue {
                margin-top: 15px;
            }
        </style>
	</head>
	<body class="is-preload">

			<header id="header">
				<div class="dropdown">
                    <button class="dropbtn">Menu</button>
                    <div class="dropdown-content">
                        <a href="/">Home</a>
				        <a href="/signIn" class="active">Sign in</a>
					    <a href="/createAccount">Create an Account</a>
                    </div>
                </div>
			</header>

			<div id="wrapper">

				<!-- Main -->
					<section id="main" class="wrapper">
						<div class="inner">
							<CENTER><h1>Music Jukebox Sign up Page </h1></CENTER>
							<CENTER><h1 class="major">Create an account</h1></CENTER>
                            <form method="POST" action="/submit" >
                                <div class="row row-space">
                                    <div class="col-2">
                                        <CENTER><div class="input-group">
                                            <label class="label">First Name</label>
                                            <input class="input--style-4" type="text" name="first_name"></div></CENTER>
                                    </div>
                                    <div class="col-2">
                                        <CENTER><div class="input-group">
                                            <label class="label">Last Name</label>
                                            <input class="input--style-4" type="text" name="last_name"></div></CENTER>
                                    </div>
                                </div>
                                
                                <div class="row row-space">
                                    <div class="col-2">
                                        <CENTER><div class="input-group">
                                            <label class="label">Email</label>
                                            <input class="input--style-4" type="email" name="email"></div></CENTER>
                                    </div>
                                    <div class="col-2">
                                        <CENTER><div class="input-group">
                                            <label class="label">Password</label>
                                            <input class="input--style-4" type="text" name="password"></div></CENTER>
                                    </div>
                                </div>
                                
                                
                                 <div class="p-t-15"></div><CENTER><button class="btn btn--radius-2 btn--blue" type="submit">Submit</button></CENTER></div>
                            </form>
						</div>
					</section>

			</div>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>