<!DOCTYPE HTML>
<html>
	<head>
		<title>Error</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

        <style>
        </style>
	</head>
	<body class="is-preload">

			<header id="header">
				<h2>Error</h2>
						<a href="/">Home</a></li>
						<a href="/signIn" class="active">Sign in</a>
						<a href="/createAccount">Create an Account</a>
			</header>

			<div id="wrapper">
					<section id="main" class="wrapper">
						<div class="inner">
                            <h1>{{error}}</h1>
                        </div>
					</section>

			</div>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
            <script src="javascripts/main.js"></script>

	</body>
</html>