<!DOCTYPE HTML>
<html>
	<head>
		<title>Political Funds and Affairs Transparency</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../public/stylesheets/style.css" />
	</head>
	<body class="hme">

			<div id="wrapper">
					<section id="intro" class="getstart">
						<CENTER><img src="https://cdn3.pitchfork.com/longform/869/Overtones_1440x720.jpg" width 100%></CENTER>
						<div class="text-block">
							
							<CENTER><h1>Music Jukebox</h1></CENTER>
								<CENTER><a href="#one" class="upperlink">Get started</a></CENTER>
						</div>
					</section>
					<section>
						<div class="desc">
							<CENTER><h1> Description </h1></CENTER>
							<CENTER> <p> Have you ever come across a song that you really like by a particular Artist
								and wondered <br> "wow this is a really great song, i wonder what other songs this artist has". <br>
								Well with our webapp you can just type in the artists name and it will display the artists top 10 songs on the chart RIGHT NOW!!<br>
								Our web app has a second function as well, when you type in a song name it will display the lyrics of the song as well.
							</p></CENTER>
						</div>
					</section>
					<section id="one" class="loginC">
							<div class="signupC">
								<div class="inner">
									<CENTER><h2>Have an account?</h2></CENTER>
									<CENTER><a href="/signIn" class="button">Sign In</a></CENTER>
								</div>
							</div>
							<div class="signupC">
								<div class="inner">
									<CENTER><h2>Get more with an account!</h2></CENTER>
									<CENTER><a href="/createAccount" class="button">Create an account</a></CENTER>
								</div>
							</div>
					</section>


			</div>

	</body>
</html>